.bookCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  background-color: var(--white);
}

.bookDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  flex-grow: 3;
  padding: 2% 2% 1%;
}

.bookInfo {
  text-align: left;
  padding-bottom: 5px;
  font-size: 14px;
}

.bookCategory {
  opacity: 50%;
}

.bookTitle {
  font-size: 22px;
  font-family: Roboto Slab, serif;
}

.bookAuthor {
  font-weight: 300;
  font-family: Roboto Slab, serif;
  color: var(--blue-font);
}

.actionButtons {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.actionBtn {
  font-weight: 300;
  font-family: Roboto Slab, serif;
  color: var(--blue-font);
  background-color: transparent;
  text-transform: capitalize;
}

.hr-button {
  height: 20px;
  margin: 0;
  opacity: 50%;
}

.bookCompletion {
  display: flex;
  align-items: center;
  gap: 20px;
}

.circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 5px solid #307bbe;
  transform: rotate(45deg);
  border-color: var(--blue) var(--grey-2) var(--grey-2) var(--grey-2);
}

.completionTexts {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-right: 50px;
}

.percentageText {
  font-size: 32px;
}

.completedText {
  opacity: 50%;
}

.card-hr {
  height: 80px;
  margin: 0;
  opacity: 50%;
}

.bookChapter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding: 0 5%;
  font-family: RobotoSlab, serif;
  font-size: 13px;
  font-weight: 300;
}

.curChap-text {
  opacity: 50%;
  text-transform: uppercase;
}

.curChap-value {
  font-size: 18px;
  margin-bottom: 15px;
}

.progressBtn {
  width: 50%;
  padding: 10px;
}
