* {
  scroll-behavior: smooth;
}

:root {
  --blue: #0290ff;
  --white: #ffffff;
  --black: #000;
  --bg-grey: #fafafa;
  --black-font: #121212;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-font);
  opacity: 50%;
  font-size: 15px;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}

button {
  font-family: Roboto Slab, serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--blue);
  border: 0;
  border-radius: 3px;
  color: var(--white);
}

body{
  background-color: var(--bg-grey);
  margin: 0;
  font-family: Montserrat, sans-serif;
}
